S3method(print, copValidation)
export(lincon)
export(linfun)
export(quadcon)
export(quadfun)
export(ratiocon)
export(ratiofun)
export(lbcon)
export(ubcon)
export(cop)
export(solvecop)
export(validate)
export(print.copValidation)
export(adjust)
importFrom(shapes,distcov)
importFrom(plyr,mapvalues)
importFrom(MASS,ginv)
importFrom(stringr,str_pad)
importFrom(stringr,str_detect)
importFrom(stringr,str_replace)
importFrom(stringr,str_replace_all)
importFrom(cccp,cccp)
importFrom(cccp,ctrl)
importFrom(cccp,nnoc)
importFrom(cccp,socc)
importFrom(cccp,getx)
importFrom(alabama,auglag)
importFrom(nloptr,slsqp)
importFrom(nloptr,nl.opts)
importFrom(Rcsdp,csdp)
importFrom(Rcsdp,simple_triplet_sym_matrix)
importFrom(methods,as)
importFrom(stats, sd)
importFrom(stats, setNames)
importFrom(stats, runif)
importFrom(Rcpp,evalCpp)